<%= turbo_frame_tag :calculator do %>
<%=
  form_with(
    url: calculator_path,
    method: :patch,
    data: {
      controller: "calculator",
      calculator_log_outlet: ".log-container",
      calculator_display_value: @result,
      calculator_eval_value: @result,
    },
    class: "max-w-xs mx-auto grid grid-cols-4 gap-2 bg-gray-400 p-4 rounded-lg"
  ) do |form|
%>
  <%= form.hidden_field :expression, data: { calculator_target: "eval" } %>
  <div class="col-span-4 bg-orange-200 p-4 rounded">
    <div data-calculator-target="display" class="text-right text-xl">Loading...</div>
  </div>
  <button class="btn btn-error" data-action="calculator#allClear:prevent">AC</button>
  <button class="btn btn-neutral" data-action="calculator#appendOpenParen:prevent">(</button>
  <button class="btn btn-neutral" data-action="calculator#appendCloseParen:prevent">)</button>
  <button class="btn btn-neutral" data-action="calculator#appendOperand:prevent" data-calculator-operand-to-display-param="&divide;" data-calculator-operand-to-eval-param="/">&divide;</button>
  <button class="btn" data-action="calculator#appendDigit:prevent" data-calculator-digit-param="7">7</button>
  <button class="btn" data-action="calculator#appendDigit:prevent" data-calculator-digit-param="8">8</button>
  <button class="btn" data-action="calculator#appendDigit:prevent" data-calculator-digit-param="9">9</button>
  <button class="btn btn-neutral" data-action="calculator#appendOperand:prevent" data-calculator-operand-to-display-param="&times;" data-calculator-operand-to-eval-param="*">&times;</button>
  <button class="btn" data-action="calculator#appendDigit:prevent" data-calculator-digit-param="4">4</button>
  <button class="btn" data-action="calculator#appendDigit:prevent" data-calculator-digit-param="5">5</button>
  <button class="btn" data-action="calculator#appendDigit:prevent" data-calculator-digit-param="6">6</button>
  <button class="btn btn-neutral" data-action="calculator#appendOperand:prevent" data-calculator-operand-to-display-param="&minus;" data-calculator-operand-to-eval-param="-">&minus;</button>
  <button class="btn" data-action="calculator#appendDigit:prevent" data-calculator-digit-param="1">1</button>
  <button class="btn" data-action="calculator#appendDigit:prevent" data-calculator-digit-param="2">2</button>
  <button class="btn" data-action="calculator#appendDigit:prevent" data-calculator-digit-param="3">3</button>
  <button class="btn btn-neutral" data-action="calculator#appendOperand:prevent" data-calculator-operand-to-display-param="&plus;" data-calculator-operand-to-eval-param="+">&plus;</button>
  <button class="btn" data-action="calculator#appendDigit:prevent" data-calculator-digit-param="0">0</button>
  <button class="btn btn-neutral" data-action="calculator#appendDot:prevent">.</button>
  <button class="btn btn-neutral" data-action="calculator#delete:prevent">del</button>
  <button class="btn btn-primary">=</button>
<% end %>
<% end %>
